@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora&family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Varela+Round&display=swap');

:root{
    --primary-text-color: #0bb5a1;
    --seccondary-text-color: #000000;
    --link-color: #1f73c8;
    --padding-inline-section: 20px;
    --name-size: 100px;
    --heading-size: 40px;
    --sub-heading-size: 30px;
    --content-size: 20px;
}

a{
    text-decoration: none;
    color: var(--link-color);
}

body{
    font-family: 'lora';
}

hr{
    background-color: var(--primary-text-color);
    border: none;
    margin: 20px;
    height: 2px;
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
    padding: var(--padding-inline-section);
}

.name{
    font-family: 'Dancing Script';
    font-size: var(--name-size);
    text-align: center;
    color: var(--primary-text-color);
}

.description{
    justify-content: space-around;
    font-size: var(--content-size);
    gap: 50px;
}

.desc-item{
    gap: 5px;
}

.heading{
    margin-top: 20px;
    font-size: var(--heading-size);
    color: var(--seccondary-text-color);
}

.primary-ul{
    margin: 5px ;
    font-size: var(--sub-heading-size);
    color: var(--primary-text-color);
}

.seccondary-ul{
    margin: 4px ;
    font-size: var(--content-size);
    color: var(--seccondary-text-color);
}